body{
padding: 0;
margin: 0;
background-color: #f4f4f4;
background-repeat: no-repeat;
background-size: cover;

overflow-y: auto;
overflow-x: auto;
z-index: 1;
}

.container{
width: 80%;
margin: auto;
overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}

/*header*/
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;

}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
header a:active{
  color: yellow;
}

.navbar-default {
  display: none;
  background-color: #35424a;
}
#arch{
  /*'Architects Daughter', cursive;*/
    font-family: 'Open Sans', sans-serif;
}
#delete-form{
    display: inline;
}
.delete-form{
    display: inline;
  }
footer{
  padding: 20px;
  margin-top: 45ev;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}

@media (max-width: 768px) {
  .navbar-default     { display: inline-table; }
  .navbar-default button {display: block;}
  .navbar-default button {float: right;}
  .tid{display:none;}
  footer{position: fixed;}
  

  /*.navbar select { display: inline-block; }*/
}
